<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../paper-input/paper-input-behavior.html">
<link rel="import" href="../paper-input/paper-input-container.html">
<link rel="import" href="../paper-input/paper-input-error.html">
<link rel="import" href="../iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">

<!--
A proper select input for the Polymer world.

Example:

    <paper-select id="select-input-1" 
      multiple 
      label-field="name"
      bind-value="{{value}}"
      on-input-changed="inputChanged"
      nonmatching on-adding-item="addItem" select-on-blur 
      label="Select your favorite programming language"
    >
    </paper-select>

    <script>
    template.inputChanged = function(e) {
      var input = (e.detail.value || '').trim().toLowerCase();
      if (input)
        e.target.options = data.filter(function(item) {
          return item.name.toLowerCase().indexOf(input) === 0;
        });
      else
        e.target.options = [];
    };
    
    template.addItem = function(e) {
      var input = (e.detail.value || '').trim()
      e.detail.value = {
        name: input
      };
    };
    </script>

@group Paper Select
@element paper-select
@demo demo/index.html
-->
<dom-module id="paper-select">

  <link rel="import" type="css" href="./paper-select.css">

  <template>

    <paper-input-container id="inputContainer" no-label-float="[[noLabelFloat]]" always-float-label="[[_computeAlwaysFloatLabel(alwaysFloatLabel,placeholder)]]" auto-validate$="[[autoValidate]]" disabled$="[[disabled]]" invalid="[[invalid]]" _input-selector="#input">

      <label hidden$="[[!label]]">[[label]]</label>

      <div id="selectedList" on-click="_elementTapped">

        <template is="dom-if" if="{{bindValue}}">

          <template is="dom-if" if="{{multiple}}">
            <template is="dom-repeat" items="{{bindValue}}">
              <div class="selected-item">
                <span>{{_labelOf(item)}}</span>
                <a on-click="_removeSelectedItemTapped" hidden$="[[readonly]]"></a>
              </div>
            </template>
          </template>

          <template is="dom-if" if="{{!multiple}}">
            <div class="selected-item">
              <span>{{_labelOf(bindValue)}}</span>
              <a on-click="_removeSelectedItemTapped" hidden$="[[readonly]]"></a>
            </div>
          </template>

        </template>

        <input id="input" is="iron-input" on-blur="_fixLabelState" type="text" hidden$="{{!_showInput}}" tabindex="0" class="paper-input-input" value="{{input::input}}" aria-labelledby$="[[_ariaLabelledBy]]" aria-describedby$="[[_ariaDescribedBy]]" disabled$="[[disabled]]" i-invalid="{{invalid}}" i-validator="[[validator]]" i-required$="[[required]]" autofocus$="[[autofocus]]" i-readonly$="[[readonly]]" on-keydown="_onInputKeyDown" on-keyup="_onInputKeyÛp">

        <a id="clearButton" hidden$="{{!input}}" on-click="clear" hidden$="[[readonly]]"></a>

      </div>

      <content select="paper-progress"></content>

      <paper-menu id="optionsMenu" hidden$="{{!_showOptions}}" i-tabindex="0">
        <template id="optionsRepeat" is="dom-repeat" items="{{options}}">
          <paper-item on-click="_optionItemTapped" on-keydown="_optionItemKeyUp" tabindex="0">
            <span>[[_labelOf(item)]]</span>
            <paper-ripple></paper-ripple>
          </paper-item>
        </template>
        <content select="paper-item">
          <paper-item class="add-action" on-click="_addItem" hidden$="{{!_showAddAction}}" disabled$="{{!_showAddAction}}">
            <span>Add</span>&nbsp;<strong>{{input}}</strong>
            <paper-ripple></paper-ripple>
          </paper-item>
        </content>
      </paper-menu>

      <template is="dom-if" if="[[errorMessage]]">
        <paper-input-error>[[errorMessage]]</paper-input-error>
      </template>

      <template is="dom-if" if="[[charCounter]]">
        <paper-input-char-counter></paper-input-char-counter>
      </template>

      <iron-a11y-keys target="[[_self]]" keys="up down" on-keys-pressed="_cancelKeyboardEventScroll"></iron-a11y-keys>

      <iron-a11y-keys target="[[_input]]" keys="down" on-keys-pressed="_focusOnOptionsPressed"></iron-a11y-keys>

    </paper-input-container>

  </template>

</dom-module>

<script>
'use strict';

Polymer({

  is: 'paper-select',

  behaviors: [
    Polymer.IronFormElementBehavior,
    Polymer.PaperInputBehavior,
    Polymer.IronControlState,
  ],

  hostAttributes: {
    role: 'button'
  },

  _defaultValue: null,

  properties: {

    _self: {
      type: Object,
      value: function() {
        return this;
      }
    },

    _input: {
      type: Object,
      value: function() {
        return this.$.input;
      }
    },

    /**
     * Items set to select from
     */
    options: {
      type: Array,
      value: function() {
        return [];
      }
    },

    /**
     * Input's search text
     */
    input: {
      type: String,
      value: '',
      notify: true,
    },

    /**
     * Element's selected value
     */
    bindValue: {
      type: Object,
      value: null,
      notify: true,
    },

    /**
     * Multuple selection mode, tags-like
     */
    multiple: {
      type: Boolean,
      value: false,
      reflectToAttribute: true,
    },

    /**
     * Selection uniqueness constraint
     */
    unique: {
      type: Boolean,
      value: false,
      reflectToAttribute: true,
    },

    /**
     * Select non-matching search text
     */
    nonmatching: {
      type: Boolean,
      value: false,
      reflectToAttribute: true,
    },

    /**
     * Select search text on blur
     */
    selectOnBlur: {
      type: Boolean,
      value: false,
      reflectToAttribute: true,
    },

    /**
     * Keep search text on blur
     */
    keepOnBlur: {
      type: Boolean,
      value: false,
      reflectToAttribute: true,
    },

    /**
     * Field to used for display
     */
    labelField: {
      type: String,
      value: null,
      reflectToAttribute: true,
    },

    /**
     * Field to use for value
     */
    valueField: {
      type: String,
      value: null,
      reflectToAttribute: true,
    },

    _showInput: {
      computed: '_computeShowInput(multiple, bindValue)'
    },

    _showOptions: {
      computed: '_computeShowOptions(options, _showAddAction)'
    },

    _showAddAction: {
      computed: '_computeShowAddAction(nonmatching, input)'
    },

  },

  observers: [
    '_valueChanged(bindValue.*)'
  ],

  listeners: {
    'input.bind-value-changed': '_stopPropagation'
  },

  // Element Lifecycle

  created: function() {
    this.toggleClass('paper-input-input', true);
  },

  ready: function() {
    var self = this;
    this.$.input.validate = function(value) {
      return !self.required || !!self.bindValue;
    };
  },

  attached: function() {
    this.options = this.options || null;
    this.bindValue = this.bindValue || this.value || this._defaultValue;
    this.input = this.input || '';
  },

  // Element Behavior

  _valueChanged: function() {
    if (this.multiple)
      this.value = this.bindValue ? this.bindValue.map(this._formValueOf.bind(this)).join(',') : '';
    else
      this.value = this.bindValue ? this._formValueOf(this.bindValue) : '';
    this.$.inputContainer._handleValue(this.$.input);
    this._fixLabelState();
  },

  _computeShowInput: function(multiple, bindValue) {
    return multiple || !bindValue;
  },

  _computeShowOptions: function(options, _showAddAction) {
    return options && options.length || _showAddAction;
  },

  _computeShowAddAction: function(nonmatching, input) {
    return nonmatching && input.trim();
  },

  _wrap: function(item) {
    return {
      item: item
    };
  },


  /**
   * Resets component.
   */
  reset: function() {
    this.bindValue = this._defaultValue;
    this.clear();
  },

  /**
   * Resets component's input.
   */
  clear: function() {
    this.input = '';
    this.options = null;
    this.$.optionsMenu.selected = null;
  },

  /**
   * Prepares select/option item's display.
   *
   * @param {object} Select item data.
   * @return {string} Label.
   */
  _labelOf: function(obj) {
    if (this.labelField === null && this.valueField === null)
      return obj || '';
    return typeof obj === 'object' && obj ? obj[this.labelField || this.valueField] : obj || '';
  },

  _valueOf: function(obj) {
    if (this.valueField === null)
      return obj || '';
    return typeof obj === 'object' && obj ? obj[this.valueField] : obj || '';
  },

  _formValueOf: function(obj) {
    if (this.valueField === null && this.labelField === null)
      return obj || '';
    return typeof obj === 'object' && obj ? obj[this.valueField || this.labelField] : obj || '';
  },

  _highlight: function(label) {
    return label.substr(0, this.input.length);
  },

  _highlightAfter: function(label) {
    return label.substr(this.input.length);
  },


  _focus: function() {
    this.$.input.focus();
  },

    _fixLabelState: function() {
        this.$.inputContainer._inputHasContent = this.bindValue.length > 0 || !!this.input;
    },

  _onKeyDown: function(event, detail) {
    switch (event.keyCode) {
      case 38: // up arrow
      case 40: // down arrow
        event.preventDefault();
        event.stopPropagation();
        break;
    }
  },

  _cancelEvent: function(event, detail) {
    event.preventDefault();
    event.stopPropagation();
  },

  _preventDefault: function(event) {
    event.preventDefault();
  },

  _stopPropagation: function(event) {
    event.stopPropagation();
  },

  _cancelKeyboardEventScroll: function(event, detail) {
    detail.keyboardEvent.preventDefault();
  },

  _elementTapped: function(event, detail) {
    this._focus();
  },

  _removeSelectedItemTapped: function(event, detail) {
    if (this.multiple) {
      var value = Polymer.dom(event).rootTarget.parentElement.value;
      var index = this.bindValue.indexOf(event.model.item);
      if (this.bindValue.length === 1)
        this.bindValue = this._defaultValue;
      else
        this.splice('bindValue', index, 1);
    } else {
      this.bindValue = this._defaultValue;
    }
    this.notifyPath('bindValue', this.bindValue);
    this.async(this.clear.bind(this));
    this.async(this._focus.bind(this));
  },

  _onInputKeyDown: function(event, detail) {
    switch (event.keyCode) {
      case 188: // comma
        if (this.nonmatching && this.input.trim()) {
          event.preventDefault();
        }
        break;
    }
  },

  _onInputKeyÛp: function(event, detail) {
    switch (event.keyCode) {
      case 8: // backspace
        if (this.multiple && this.input.length === 0 && this.bindValue && this.bindValue.length > 0) {
          this.pop('bindValue');
          this.notifyPath('bindValue', this.bindValue);
        }
        break;
      case 188: // comma
      case 13: // enter
        if (this.nonmatching && this.input.trim()) {
          this._addItem();
        }
        break;
    }
  },

  _focusOnOptionsPressed: function(event, detail) {
    this.$.optionsMenu.focus();
  },

  _optionItemTapped: function(event, detail) {
    this.selectItem(event.model.item);
  },

  _optionItemKeyUp: function(event, detail) {
    if (event.keyCode === 13) { // enter
      this.selectItem(event.model.item);
    }
  },

  _addItem: function() {
    var input = this.input.trim();
    if (!input)
      return;
    var detail = {
      value: input
    };
    this.fire('adding-item', detail);
    this.async(function() {
      this.selectItem(detail.value);
    });
  },

  selectItem: function(item) {
    if (this.multiple) {
      if (!this.bindValue)
        this.bindValue = [item];
      else
        this.push('bindValue', item);
    } else {
      this.bindValue = item;
    }
    this.notifyPath('bindValue', this.bindValue);
    this.async(this.clear.bind(this));
    if (this.multiple)
      this.async(this._focus.bind(this));
  },

  /**
   * The `adding-item` event is fired whenever an item is added.
   *
   * @event adding-item
   * @detail {{value: String}}
   */


});
</script>
